/*    
    Esame ASW 2014-2015
    Autori: Luca Santandrea
    Matricola: 0900050785
*/

html,body {
    background: url('../multimedia/pattern.jpg') repeat-x center top #101A26;
    margin: 10px 0px;
    font-family:'Arial',sans-serif;
}

/*CONTAINER ---------------------------------------------------------------------------*/
div#container {
    width: 960px;
    margin: 0 auto;
    /*min-height: 650px;*/
    background:#FFFFFF;
}

/*HEADER --------------------------------------------------------------------------*/
#header{
    padding:0.5%;
    font-family:"Courier New", Courier, monospace;
}

#header h1{
    margin:0px;
}

#header p{
    margin:0px;
}

/*NAVBAR ---------------------------------------------------------------------------*/
#navbar {
    width: 100%;
    overflow:hidden;
    z-index: 3;
    font-size: 14px;
    border-bottom:1px solid black;
}

#navbar ul {
    padding:0;
    margin:10px 0px 0px 0px;
}

#navbar ul li {
    list-style-type: none;
    display: inline-block;
}

#navbar li a {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0px 5px 0px 5px;
    min-width: 80px;
    color: #808080;
    text-decoration: none;
    text-align: center;
    transition:0.3s;
}

#navbar li a:hover {
    background-color:#101A26;
    color:#FFFFFF;
    background-size: contain;  
}

/*CONTENT ---------------------------------------------------------------------------*/
div#content{
    float: left;
    width:69.66667%;
    min-height: 450px;
    padding:1%;
}

div#content.home{
    width:100%;
}

#content #login{
    background:#D8EBF1;
    width:300px;
    margin:0 auto;
    padding:10px;
    margin-top:30px;
}

#content #login input{
    width:100%;
    margin-bottom:5px;
    box-sizing:border-box;
}

.submit{
    background:#335570;
    border:none;
    color:#FFFFFF;
    min-width:100px;
    padding:3px 0px 3px 0px;
}

#content #login p{
    margin-bttom:0px;
}

#content #login a{
    color:#0000FF;
}

.formClass{
    padding:5px;
    background:#EEEEEE;
    border:1px solid #808080;
    border-radius:10px;
}

.formClass label{
    min-width:100px;
    display:inline-block;
}

.formClass .appletContainer{
    width:500px;
    margin:0 auto;
}

.formClass textarea{
    width:100%;
    box-sizing: border-box;
}

.errorMessage{
    color:#AA0000;
}

#errorDiv{
    display:none;
    background:#ebccd1;
    border:1px solid #AA0000;
    margin:10px 0px;
    padding:5px;
    text-align:center;
}

.singleItem{
    padding:5px;
}

.singleItem.class0{
    background:#D8EBF1;
}

.singleItem h2, .singleItem h4{
    margin-bottom:0px;
}

.singleItem .noBottomMargin{
    margin-bottom:0px;
}

.singleItem textarea{
    width:100%;
    min-height:100px;
    box-sizing:border-box;
}

.singleItem .codeDiv{
	display:none;
}

.singleItem .information{
    width:70%;
    float:left;
}

.singleItem .information p{
    margin:0px;
}

.singleItem .actions{
    margin-top:1em;
    margin-bottom:1em;
    width:28%;
    padding:0 1% 0 1%;
    float:left;
}

.singleItem .actions a{
    padding-bottom:5px;
    display:inline-block;
}

.singleItem .clear{
    clear:both;
}

/*SIDEBAR DESTRA ---------------------------------------------------------------------------*/
#sidebar
{  
    float: right;
    width: 25.33333%;
    padding:1%;
    min-height: 450px;
    background-color:#EFEFEF;
    border-left:1px dashed #DFDFDF;
}

/*FOOTER ---------------------------------------------------------------------------*/
#footer {
    clear: both;
    width: 100%;
    padding:5px 0px 5px 0px;
    min-width: 100%;
    background-color:#6584A6;
    color: white;
    text-align:center;
    font-size:11px;
}

#footer p{
    margin:0px;
}
