<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MySnippetServlet</servlet-name>
        <servlet-class>asw1025.MySnippetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>asw1025.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartSnippetServlet</servlet-name>
        <servlet-class>asw1025.StartSnippetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MySnippetServlet</servlet-name>
        <url-pattern>/MySnippetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartSnippetServlet</servlet-name>
        <url-pattern>/StartSnippetServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
